.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-image {
  height: 200px;
  width: 200px;
}
.about-text {
  color: #6d396b;
  font-family: 'Roboto';
}
