.image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.image {
  height: 30px;
  width: 30px;
  margin: 10px;
}
.list-container {
  display: flex;
  flex-direction: row;
  list-style-type: none;

  justify-content: flex-end;
}
.eachListStyle {
  margin: 10px;
  color: #12022f;
  font-weight: 700;
  font-family: 'Roboto';
  text-decoration: none;
}
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
